<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Which accounts do NYT editorial staff follow on Twitter</title>
    <style>
        h1 {
            text-align: center;
        }

        form {
            text-align: center
        }
    </style>
</head>

<body>
    <h1>Which accounts do NYT editorial staff follow on Twitter</h1>
    <form action="/handle_form" method="POST">
        <p>
            Please specify the following conditions to find Twitter accounts that most New York Times editors are
            following!
            <br /><br />
            <label for="location">Choose a location:</label><br />
            <input type="radio" name="location" value="NY">NY<br />
            <input type="radio" name="location" value="DC">DC<br />
            <br>
            <label for="popularity">Choose the level of popularity (number of followers on Twitter):</label><br />
            <input type="radio" name="popularity" value="low">low (below the median)<br />
            <input type="radio" name="popularity" value="high">high (above the median)<br />
        </p>
        <input type="submit" value="Submit Form" />
    </form>
</body>

</html>